
<html>
<script type="text/javascript" src="lib/angular.js"></script>
<script type="text/javascript" src="lib/angular-route.min.js"></script>
<script type="text/javascript" src="js/tabNavigation.js"></script>
<link rel="stylesheet" href="css/tabNavigation.css" />
<body ng-app="tabnav" ng-controller="tabNavController" ng-init="retainNavState()">
	<div ng-repeat="x in tabNavModel">
		<span class="tabNavItem" ng-class="{ 'selectedTab': x.tabId == selectedTab }"
             ng-model="selectedTab" ng-click="setSelectedTab(x.tabId)">{{x.tabId}}</span>
	</div>	
	<div class="tabContent">{{paintSelectedTabContent()}}</div>
</body>	
</html>